
#content {
    width: calc(100% - 260px);
    margin-left: 260px !important;
    padding: 0 1em;
}

#menu {
    border: none;
    border-radius: unset;
    height: 100vh !important;
}

#mobile-sticky {
    display: none;
    top: 0;
}

#mobile-sticky .ui.attached.inverted.menu {
    border-radius: unset;
}

.pusher {
    padding-top: 15px
}

.ui.fluid.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (max-width: 991px) {
    #menu {
        margin-top: 40px;
        height: calc(100vh - 40px) !important;
        top: 40px;
    }

    #mobile-sticky {
        display: block;
    }

    #content.side-menu-hidden {
        /*width: 100%;*/
        margin-left: 0 !important;
    }
}

@media (max-width: 767px) {
}

